.algorithms-constructor-page {
    .algorithms-constructor {
        display: flex;
        flex-direction: row;

        .algorithms-constructor-sidebar {
        }
    }
}

main.algorithms-constructor-page {
    padding: 0;

    .main-container {
        padding: 0;
    }
}


