@import "src/styles/variables";
@import "src/styles/mixins";

.algorithms-constructor-page {
    .algorithms-constructor {
        display: flex;
        flex-direction: row;

        .work-table {
            width: 100%;
            height: $content-height;
            overflow: hidden;
        }

        .context-menu {
            position: absolute;
        }
    }
}

main.algorithms-constructor-page {
    padding: 0;

    .main-container {
        padding: 0;
    }
}
