@import "src/styles/variables";
@import "src/styles/mixins";

.algorithms-constructor {
    .instruments-sidebar {
        $sidebar-width: 400px;
        $sidebar-y-padding: 10px;
        $sidebar-action-height: 50px;

        display: flex;
        flex-direction: column;
        width: $sidebar-width;
        height: $content-height;
        padding: $sidebar-y-padding 0;
        box-shadow: -4px 1px 20px 0.2rem color("shadow");

        .actions {
            .action {
                &:hover {
                    @include clickable;
                    background-color: color("shadow");
                }
            }
        }
    }
}
