$colors: (
    "background": #f8f7f9,
    "primary": #4e5191,
    "error": #ff1a26,
    "success": #54a941,
    "border-color": #9799c7,
    "cards-shadow": #1b171740,
);

@function color($color) {
    @return map-get($colors, $color);
}

$header-height: 60px;
$control-focus-width: 0.2rem;
$content-height: calc(100vh - #{$header-height});
