.algorithms-constructor-page {
    .algorithms-constructor {
        .context-menu-wrapper {
            position: absolute;
            width: 60px;
            background-color: white;
            box-shadow: 0 0 5px grey;
            border-radius: 3px;
            border: 1px solid red;
        }
    }
}
